.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.runLobbyTable{
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

.runLobbyTable tr,td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.runReadyTable{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

.runReadyTable tr,td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* .runActiveTable1{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

.runActiveTable1 tr,td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

  .runActiveTable2{
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
  }
  
  .runActiveTable2 tr,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} */

.runActiveTable{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

.runActiveTable tr,td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.aboutGithubLinks a{
  text-decoration: none;
}

.aboutGithubLinks li{
  list-style-type: none;
}

.pictureOfLadyRunning{
  margin-top:2%;
}

.aboutHR{
  width: 5%;
}